#navbar-custom{
  	background-color: #ffffff;
  	color: #212121;
    border-radius:0;
    border-bottom-color: #212121;
}

.container-fluid{
  margin: 0px !important;
}

#body-canvas{
  text-align: center;
  vertical-align: middle;
}

#body-menu{
  margin-bottom: 20px;
}

body{
  background-color: #f2f2f2;
}

a{
  font-family: "Helvetica Neue","Helvetica","Arial","sans-serif" !important;
}

  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

body, select {
  font: 10pt sans;
}
#mynetwork {
  position:relative;
  width: 800px;
  height: 600px;
  border: 1px solid lightgray;
  align-content: center;
  background-color: #ffffff;
}
table.legend_table {
  font-size: 11px;
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
}
table.legend_table,td {
  border-width:1px;
  border-color:#d3d3d3;
  border-style:solid;
  padding: 2px;
}
div.table_content {
  width:80px;
  text-align:center;
}
div.table_description {
  width:100px;
}
#operation {
  font-size:28px;
}
#network-popUp {
  display:none;
  position:absolute;
  top:350px;
  left:170px;
  z-index:299;
  width:250px;
  height:120px;
  background-color: #f9f9f9;
  border-style:solid;
  border-width:3px;
  border-color: #5394ed;
  padding:10px;
  text-align: center;
  }

  #node-popUp {
      display:none;
      position:absolute;
      top:350px;
      left:170px;
      z-index:299;
      width:250px;
      height:90px;
      background-color: #f9f9f9;
      border-style:solid;
      border-width:3px;
      border-color: #5394ed;
      padding:10px;
      text-align: center;
    }

  #edge-popUp {
      display:none;
      position:absolute;
      top:350px;
      left:170px;
      z-index:299;
      width:250px;
      height:90px;
      background-color: #f9f9f9;
      border-style:solid;
      border-width:3px;
      border-color: #5394ed;
      padding:10px;
      text-align: center;
    }
